@{
    ViewData["Title"] = "Instellingen";
}

<div class="text-center container instructies">
    @*<h1 class="display-4">Instellingen</h1>
    <p>Tekstgrootte</p>
    <button class="font-size-small">A</button>
    <button>A</button>
    <button>A</button>*@
    <h1>Je account</h1>
    <div>
        <p style="text-align:left;">@User.Identity.Name</p>
    </div>
</div>
